subconverter.exe
subconverter
.vscode
cmake-build-debug
.idea
base/cache
build
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.yaml
*.conf
*.txt
!README*.txt
!*.example.*
pref.ini
test_*.yaml
test_*.conf
test_*.txt